.container{
    width: 600px;
    margin: auto;
    margin-top: 80px;
    /* background:rgb(124, 161, 230); */
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    height: fit-content;
}
.container hr{
    height: 2px;
    border: none;
    background: #304050;
}
.container h2{
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #676767;
    border-radius: 9px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 200px;
    color: ivory;
    height: 65px;
    background-color: rgb(21, 21, 197);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.container .correct{
    background-color: rgb(115, 228, 115);
    border-color: green;
}
.container .wrong{
    background-color: rgb(225, 105, 105);
    border-color: red;
}
