.quiz-box{
   
    width: 550px;
    background-color: #fff;
    border-radius: 5px;
}
.quiz-box header{
    height: 70px;
    padding: 0px 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid grey;;

}
.quiz-box header .title{
    font-size: 20px;
    font-weight: 600;

}
.quiz-box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: rgb(153, 187, 249);
    border: 1px solid cadetblue;
    border-radius: 5px;
    padding: 0px 8px;

}
.quiz-box header .timer .time_text{
    font-weight: bold;
    color: #ffffff;
}
.quiz-box header .timer .timer_sec{
   font-size: 18px;
   font-weight: 500; 
   background-color: wheat;
   height: 30px;
   width: 40px;
   color: cadetblue;
   text-align: center;
   align-items: center;
   border-radius: 18px;
   line-height: 30px;
   border: 1px solid rgb(36, 36, 34);
}
.quiz-box section .option_list{
    padding: 20px 0px;
    display: block;
}
.quiz-box section .option_list {
    background-color: aliceblue;
    border: 1px solid cadetblue;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font:17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}
section .option_list:hover{
    color: rgb(250, 254, 254);
    background-color: rgb(207, 207, 185);
    border-color: cadetblue;
}
.option_list  .icon{
    height: 26px;
    width: 26px;
    border: 2px solid  transparent;
    border-radius:  50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;

}
.option_list .icon .tick{
    border-color: green;
}
