*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(201, 201, 201);
}
.start ,
.info_box,
.quiz-box{
    position: absolute;
    top : 50%; 
    left: 50%;
    transform: translate(-50%,-50%);

}
.info_box{
   
    width: 540px;
    background: #fff;
    border-radius: 5px;
}
.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px;
    display: flex;
    align-items: center;
    padding: 0px 35px;
    font-size: 20px;
    font-weight: 600;
}
.info_box .info_list{
    padding: 15px 35px;
}
.info_box .info_list .info{
    margin: 5px 0px;
    font-size: 17px;
}
.info_box .info_list .info span{
    font-weight: 600;
    color: cornflowerblue;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
   
    border-top: 1px solid grey;
}
.start button{
    border:none; border-radius:5px; padding:15px 30px; font-size:25px; font-weight:400; color:#007bff; background:white; cursor:pointer
}

.info_box .buttons button{
    max-width: 0px 5px;
    height: 40px;
    width: 100px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.buttons button.quit{
    color: cornflowerblue;
    background-color: white;
}
.buttons button.restart{
    color: white;
    background-color: cornflowerblue;
}