/* .button_quiz{
    background-color: cornflowerblue;
    color: white;
  }
.button_quiz:hover{
    color:cornflowerblue;
    background-color: white;
  } */


.container{
  background: linear-gradient(135degrees,(137, 171, 234),rgb(49, 72, 116));
}