.content {
    text-align: left; 
    color: #fff; 
    padding: 20px; 
  }
  
  h1 {
    margin-bottom: 20px; 
  }
  
  /* button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b0b2b5; 
    color: #0f0e0e;
    border: none;
    cursor: pointer;
    width: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  button:hover { 
     background-color: #0056b3; 
  }  */
  img:hover{
    scale: 1.05;
  }
  