.register{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(./bg.png); */
    background-size: cover;
    height: 100vh;
  }
  
 
  @media (max-width: 576px) {
    /* Styles for extra small devices (phones) */
    .logincont {
      width: 60%; 
      height: 50%;
      justify-content: center;
    }
  }
   @media  (min-width:576px) and(max-width:768px) {
    .logincont{
      width: 60%;
      height: 50%;
      justify-content: center;

    }
    
   }

   @media (min-width:769px) and (max-width:992px) {
            .logincont{
              width: 50%;
              height: 50%;
              justify-content: center;
            }    
   }